// colors
$color-primary: #19c152;
$color-primary-light: #ade9c2;
$color-primary-middle: #24b656;
$color-primary-dark: #2fab59;
$color-warning-soft: #fff8e0;
$color-warning-middle: #f4b718;
$color-warning-dark: #e8a731;
$color-white: #fff;
$color-dark: #363949;
$color-black: #16171d;
$color-light-grey: #eff3f7;
$color-middle-grey: #b1b3c0;
$color-grey: #d7d8df;
$color-dark-grey: #797c8b;
$color-dark-transparent: rgba(0, 0, 0, 0.4);
// font
$font-path: './app/assets/fonts';
